{% extends 'core/base.html' %}

{% block title %}Quiénes Somos{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}

<h1 class = "Titulo" style="padding-top:0px;">Quiénes Somos</h1>
<span class="subheading" style="margin-top: 50px;">Acerca de nosotros</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Fly Away</h2>   
        <p>Fly Away es un proyecto que se crea en la Academia de Innovación & Emprendimiento el año 2017, de
		la mano de tres alumnos Álvaro, Matías y Arantxa. </p>
		<p>
			Este proyecto se enfoca en la problemática de las plagas de palomas, debido a que no existe una
			regulación de ellas, así también solo son regularizadas por el Servicio Agrícola y Ganadero (SAG),
			quienes permiten su caza en sectores rurales. </p>
		<p>
			La paloma doméstica (Columba Livia) puede vivir aproximadamente 20 años y puede tener entre 10 y 15
			pichones por año, por lo que son consideradas plaga, ya que se reproducen en masa. Estas aves son
			perjudiciales para el ecosistema, pueden transmitir más de 50 tipos de enfermedades a los humanos,
			además de piojos, garrapatas, vinchucas, etc. Y también, sus excrementos son altamente corrosivos, lo
			cual destruye el patrimonio arquitectónico, mobiliario urbano y la vegetación. 
		</p>
    </div>
</div>
{% endblock %}
