{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Contáctanos</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Para mas informacion sobre nuestros servicios</p>
        <br>
        <p><b>Teléfono:</b> +569 123 481 18</p>
        <p><b>Correo:</b> contactoflyaway.e@gmail.com</p>
        <br>
    </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<p style="text-align: center; font-size: 1.5em"><b>Datos de Contacto</b></p>
			<form action="" method="post" enctype="multipart/form-data" style="font-weight: bolder;">
			{% csrf_token %}

			{% bootstrap_form form layout="horizontal" %}

			<input class="btn btn-primary btn-lg btn-block" type="submit" value="Enviar">
			</form>
		</div>
	</div>
</div>
{% endblock %}

