{% extends 'core/base.html' %}

{% block title %}Portada{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.png' %}{% endblock %}

{% block headers %}
<h1>Fly Away</h1>
<span class="subheading">Respira limpio, vive mejor</span>
{% endblock %}
